.header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  max-height: 50px; /* Sesuaikan ukuran logo */
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-item-child {
  color: white;
  text-decoration: none;
}

.nav-item-child:hover {
  text-decoration: underline;
}